.loginForm {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.Login {
  position: relative;
  top: 35px;
}
/*# sourceMappingURL=style.css.map */