.root {
  width: 100%;
}

.TableTest {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-height: 280px;
}
/*# sourceMappingURL=style.css.map */